<nav>
    <div class="toolbarIcons">
        <a [routerLink]=" ['./'] " routerLinkActive="active"><span class="brand-logo">GSS Mobile</span></a>
    </div>
</nav>
<div class="center-align">
    <img src="/assets/img/nse.png" class="logo"/>
    <div *ngIf="loading" class="content">
        <p >Connexion avec le serveur GSS...</p>
        <div class="preloader-wrapper active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
                </div><div class="circle-clipper right">
                <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
                </div><div class="circle-clipper right">
                <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
                </div><div class="circle-clipper right">
                <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
                </div><div class="circle-clipper right">
                <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="hasFailed && !loading" class="content">
        <p>Impossible de contacter le serveur GSS...</p>
        <div class="btn btn-default" (click)="checkServerIsAlive()">Retenter...</div>
    </div>
<div>

