
.yadoms-uses .mat-list-item {
  display: inline-block;
}

.yadoms-uses .dependency-icon {
  display: block;
  max-width:48px;
  max-height:48px;
  width: auto;
  height: auto;
  margin: 5px;
}

.widgets .type {
font-size: 1em;
  margin: 5px;
}

.widgets .author {
  font-size: 0.8em;
  margin: 5px;
}

.widgets .credits {
  font-size: 0.6em;
  margin: 5px;
}

