<div class="navbar-fixed">
     <nav>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    <div class="toolbarIcons">
        <a [routerLink]=" ['/'] "><span class="brand-logo">Yadoms</span></a>
    </div>
    <ul id="slide-out" class="side-nav fixed">
        <div class="center-align">
            <img [src]="logo"/>
        </div>
        <div class="divider"></div>
        <li><a [routerLink]=" ['/home'] " routerLinkActive="activeRouterLink"><i class="material-icons">dashboard</i>{{'sidenav.dashboard' | translate }}</a></li>

        <li *ngFor="let p of pages?.page"><a [routerLink]="[p.id]" routerLinkActive="activeRouterLink"><i class="material-icons">{{p.icon}}</i>{{p.name}}</a></li>
        <!-- 
          <li><a [routerLink]=" ['detail'] " routerLinkActive="activeRouterLink"><i class="material-icons">cloud_queue</i>{{'sidenav.fleet' | translate }}</a></li>
        -->
        <li><a [routerLink]=" ['usage'] " routerLinkActive="activeRouterLink"><i class="material-icons">query_builder</i>{{'sidenav.usage' | translate }}</a></li>
        <li *ngIf="!navigatorService.isMobileNavigator()"><a [routerLink]=" ['import'] " routerLinkActive="activeRouterLink"><i class="material-icons">present_to_all</i>{{'sidenav.import' | translate }}</a></li>
    </ul>
 </nav>
</div>

<main>
    <router-outlet></router-outlet>
</main>

