<div class="navbar-fixed">
     <nav>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    <div class="toolbarIcons">
        <a [routerLink]=" ['/'] "><span class="brand-logo">Yadoms</span></a>
    </div>
    <ul id="slide-out" class="side-nav fixed">
        <div class="center-align">
            <img [src]="logo"/>
        </div>
        <div class="divider"></div>
        <li><a [routerLink]=" ['/home'] " routerLinkActive="activeRouterLink"><i class="material-icons">dashboard</i>{{'sidenav.dashboard' | translate }}</a></li>

        <li *ngFor="let p of pages?.page"><a [routerLink]="['/home/page/' + p.id]" routerLinkActive="activeRouterLink"><i class="material-icons">{{p.icon}}</i>{{p.name}}</a></li>
        <!-- 
          <li><a [routerLink]=" ['detail'] " routerLinkActive="activeRouterLink"><i class="material-icons">cloud_queue</i>{{'sidenav.fleet' | translate }}</a></li>
        -->
        <li><div class="divider"></div></li>
        <li><a [routerLink]=" ['configuration'] " routerLinkActive="activeRouterLink"><i class="material-icons">widgets</i>{{'sidenav.customize' | translate }}</a></li>
        <li><div class="divider"></div></li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li>
              <a class="collapsible-header">{{'sidenav.administration' | translate }}<i class="material-icons">arrow_drop_down</i></a>
              <div class="collapsible-body">
                <ul>
                  <li><a [routerLink]=" ['configuration'] " routerLinkActive="activeRouterLink"><i class="material-icons">settings_applications</i>{{'sidenav.configuration' | translate }}</a></li>
                  <li><a [routerLink]=" ['plugins'] " routerLinkActive="activeRouterLink"><i class="material-icons">extension</i>{{'sidenav.plugins' | translate }}</a></li>
                  <li><a [routerLink]=" ['devices'] " routerLinkActive="activeRouterLink"><i class="material-icons">devices_other</i>{{'sidenav.devices' | translate }}</a></li>
                  <li><a [routerLink]=" ['automation'] " routerLinkActive="activeRouterLink"><i class="material-icons">play_circle_outline</i>{{'sidenav.automation' | translate }}</a></li>
                  <li><a [routerLink]=" ['recipients'] " routerLinkActive="activeRouterLink"><i class="material-icons">mail</i>{{'sidenav.recipients' | translate }}</a></li>
                  <li><a [routerLink]=" ['update'] " routerLinkActive="activeRouterLink"><i class="material-icons">update</i>{{'sidenav.update' | translate }}</a></li>
                  <li><a [routerLink]=" ['maintenance'] " routerLinkActive="activeRouterLink"><i class="material-icons">healing</i>{{'sidenav.maintenance' | translate }}</a></li>
                  <li><a [routerLink]=" ['about'] " routerLinkActive="activeRouterLink"><i class="material-icons">info</i>{{'sidenav.about' | translate }}</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
    </ul>
 </nav>
</div>

<main>
    <router-outlet></router-outlet>
</main>

